.product-detail {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 5%;
    min-height: 100vh;
    margin-top: 100px; /* Espacio para el header sticky */
}

.product-image-container {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.model-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1
}


.product-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    flex: 1;
    max-width: 50%;
    padding-left: 2rem;
}

.product-title {
    color: white;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.view-button{
    background-color: #f0f0f0;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}


/* Responsive design para pantallas pequeñas */
@media (max-width: 768px) {
    .product-detail {
        flex-direction: column;
        gap: 1rem;
    }
    
    .product-image-container,
    .product-info {
        max-width: 100%;
    }
    
    .product-info {
        padding-left: 0;
    }
}
