.collection-list {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    background-color: var(--color-background);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1200px;
    row-gap: 2rem; /* Espacio entre filas */
    justify-items: center;
    list-style: none;  /* Quitar los puntos de la lista */
  }
  
  .collection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .collection-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  
  .collection-name {
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }