.collection-list {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  background-color: var(--color-background);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1200px;
  margin-bottom: 1200px;
  row-gap: 10rem;
  justify-items: center;
  list-style: none;
}

.collection-container{
  background-color: black;
}
.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Quitar opacity: 0 y transform del CSS */
}

.collection-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.collection-name {
  font-size: 0.8rem;
  color: white;
  text-align: center;
  margin-top: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 50%;
}

